<footer class="footer">
  <div class="footer-section-left">
    <div class="left-first">
      <div>
        <img src="/images/bethemestore2-footer-icon1.svg" alt="support" height="48px" width="48px" />
      </div>
      <div>
        <a href="/contact" style="text-decoration: none;">
          <h5>Got Questions? Call us 24/7!</h5>
          <div class="phone-number">+92 321 2723706</div>
        </a>
      </div>
    </div>
    <div class="address">Unit 2, 20 Woodland Ave, Slough SL1 3BU</div>
  </div>

  <div class="footer-section-right">
    <ul class="first-list" style="list-style-type: none;">
      <li><h6>Customer Service</h6></li>
      <li><a href="#orders">Orders</a></li>
      <li><a href="#Downloads">Downloads</a></li>
      <li><a href="#Addresses">Addresses</a></li>
      <li><a href="#Account Details">Account Details</a></li>
      <li><a href="#Lost Password">Lost Password</a></li>
    </ul>

    <ul class="second-list" style="list-style-type: none;">
      <li><h6>Useful Links</h6></li>
      <li><a href="#TaC">Terms and Conditions</a></li>
      <li><a href="#Delivery">Delivery</a></li>
      <li><a href="#Faq">Frequently Asked Questions</a></li>
      <li><a href="#Blog">Blog</a></li>
      <li><a href="#bda">Buy Direct from Amazon</a></li>
    </ul>

    <ul class="third-list" style="list-style-type: none;">
      <li><h6>Delivery</h6></li>
      <li><a href="#PP">Privacy Policy</a></li>
      <li><a href="#RaRP">Return and Refund Policy</a></li>
      <li><a href="#Warranty Policy">Warranty Policy</a></li>
      <li><a href="#Payment Policy">Payment Policy</a></li>
      <li><a href="#CP">GDPR & CCPA Compliance Policy</a></li>
    </ul>
  </div>
</footer>

