<div class="categories">
  <nav>
    <div class="navigation">
      <ul class="left">
        <li><a href="/" style="color:<%= page === 'home' ? '#1f96fc' : 'inherit' %>;">Home</a></li>
        <li class="features">
          <a href="#Features">Features ▾</a>
          <div class="feature-dropdown">
            <a href="">Cardio Equipment </a>
            <a href="">Functional </a>
            <a href="">Home Gym Essential </a>
            <a href="">Power Packs </a>
            <a href="">Recovery and Wellness </a>
            <a href="">Sports and Play </a>
            <a href="">Strength Training </a>
          </div>
        </li>
        <li><a href="/shop">Shop</a></li>
        <li class="pages">
          <a href="#Pages">Pages ▾</a>
          <div class="pages-dropdown">
            <a href="">Promotions</a>
            <a href="">Cart</a>
            <a href="">Side Cart</a>
            <a href="">Wishlist</a>
            <a href="/checkout">Checkout</a>
            <a href="">My Account</a>
          </div>
        </li>
      </ul>
      <ul class="right">
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/admin">Admin</a></li>
        <li><a href="#TermsOfUse">Terms Of Use</a></li>
      </ul>
    </div>
  </nav>
</div>

