<%- include('../layout', { 
  title: 'Gym Supplies Hub',
  page: 'home',
  body: `
    <div class="product-ad">
        <div class="ad">
          <div class="pa-text">
            <p>Cardio Equipment</p>
            <p>Burn Calories, Build Stamina, Love the Ride</p>
          </div>
          <div class="pa-link">
            <button class="browse-product">Browse Product</button>
          </div>
        </div>

        <div class="ad-image">
          <img src="/images/equip2.png" alt="equipments" height="600px" width="750px">
        </div>
    </div>
<div class="perks">
  <div class="perk-item shipping">
    <img src="/images/perk-icon-1.svg" alt="shipping" />
    <h5>Free Shipping</h5>
    <div>For all orders over $200</div>
  </div>
  <div class="perk-item promotions">
    <img src="/images/perk-icon-2.svg" alt="promotion" />
    <h5>Daily Promotions</h5>
    <div>Discount up to 70%</div>
  </div>
  <div class="perk-item returns">
    <img src="/images/perk-icon-3.svg" alt="return" />
    <h5>Free Returns</h5>
    <div>Return for up to 7 days</div>
  </div>
  <div class="perk-item secure-payments">
    <img src="/images/perk-icon-4.svg" alt="sp" />
    <h5>Secure Payments</h5>
    <div>Security guarantee</div>
  </div>
  <div class="perk-item gfm">
    <img src="/images/perk-icon-5.svg" alt="gift" />
    <h5>Gift for Members</h5>
    <div>Bonuses for members</div>
  </div>
</div>

    <div class="recommendations">
        <div class="watch-recom">
          <div>
            <h6>Our recommendation</h6>
          </div>
          <div>
            <h2>BeWatch GT</h2>
          </div>
          <div>
            <p>Dolor dictumst pretium</p>
          </div>
          <div>
            <button>Buy Now</button>
          </div>
        </div>
        <div class="headphone-recom">
          <div>
            <h6>Our recommendation</h6>
          </div>
          <div>
            <h2>BeSound</h2>
          </div>
          <div>
            <p>Dolor dictumst pretium</p>
          </div>
          <div>
            <button>Products</button>
          </div>

        </div>
    </div>


    <div class="trp">
        <div class="top-rated">
          <h2>
            Top rated products
          </h2>
        </div>
        <div class="bestchoice">
          <div>Best Choice</div>
        </div>
        <div class="product-list">
          <ul>
            <li>
              <img src="/images/sensoryimg.jpeg" alt="lamp" height="200px" width="200px">
              
              <h4><a href="led">LED Fibre Optic Lamp/ Sensory Light Projector</a></h4>
            </li>
            <li>
              <img src="/images/rocketimg.jpeg" alt="scooter" height="200px" width="200px">
              <h4><a href="scooter">Rocket Scooter</a></h4>
              
            </li>
            <li>
              <img src="/images/sensoryequipimg.jpeg" alt="sensory" height="200px" width="200px">
              <h4><a href="sensoryequipment">Sensory Equipment 1</a></h4>
              
              </li>
          </ul>
        </div>
    </div>

<div class="special-offer-wrapper">
    <div class="special-offer">
        <div class="offer-image">

        </div>
        <div class="mt-3 offer-text">
          <div class="offer-heading">
            <h2>
              Special offer
            </h2>
          </div>
          <div class="model">
            <div>
              BePhone 12 Pro
            </div>
          </div>
          <div class="time">
            <div>
              00 
              <h3>
                days
              </h3>
            </div>
            <div>
              00 
              <h3>
                hours
              </h3>
            </div>
            <div>
              00 
              <h3>
                minutes
              </h3>
            </div>
            <div>
              00 
              <h3>
                seconds
              </h3>
            </div>
          </div>
          <div class="ph-model">
            BePhone 12 Pro
          </div>
          <div class="price">
            299$ USD
          </div>
          <div class="buy-button">
            <button>Buy now!</button>
          </div>
        </div>
    </div>

</div>
   <div class="new-ins">
  <div class="mt-5 new-products">
    <h2>Our newest products</h2>
  </div>

  <div class="best-choice">
    <div>Best Choice</div>
  </div>

  <ul class="mt-5 mb-3 newimage-list">
    <li>
      <img src="/images/newimg1.jpeg" alt="Image 1">
      <h4><a href="rs">Rocket Scooter</a></h4>
    </li>
    <li>
      <img src="/images/newimg2.jpeg" alt="Image 2">
      <h4><a href="cwp">Climbing Wall Panels or Stepping Stones (Indoor)</a></h4>
    </li>
    <li>
      <img src="/images/newimg3.jpeg" alt="Image 3">
      <h4><a href="pstb">Portable Sensory Travel Bag</a></h4>
    </li>
    <li>
      <img src="/images/newimg4.jpeg" alt="Image 4">
      <h4><a href="lfol">LED Fiber Optic Lamp / Sensory Light Projector</a></h4>
    </li>
    <li>
      <img src="/images/newimg5.jpeg" alt="Image 5">
      <h4><a href="ss">Sensory Swing (Pod or Hammock Style)</a></h4>
    </li>
    <li>
      <img src="/images/newimg6.jpeg" alt="Image 6">
      <h4><a href="wlp">Weighted Lap Pad / Weighted Blanket</a></h4>
    </li>
    <li>
      <img src="/images/newimg7.jpeg" alt="Image 7">
      <h4><a href="sftk">Sensory Fidget Toy Kit (Bundles)</a></h4>
    </li>
    <li>
      <img src="/images/newimg8.jpeg" alt="Image 8">
      <h4><a href="mbb">Montessori Busy Board</a></h4>
    </li>
  </ul>
</div>


    <div class="mb-5 sound-ad">
      <div class="fts">
        <h2>Feel the sound.</h2>
      </div>
        <div class="fts-category">
          Category Products
        </div>
    </div>


    <div class="reasons">
        <div>
          <h5>Why BeShop?</h5>
        </div>
        <div class="mb-5">
          <h2>New BePhone Pro.</h2>
        </div>
        <div class="proofs">
          <div class="guarantee">
            <div class="guarantee-text">
              <h4>Guarantee of originality</h4>
              <p>Sapien fermentum diam egestas tellus commodo. Scelerisque.</p>
              <a href="smp">Show me products</a></div>
            <div class="guarantee-img">
              <img class="p-img" src="/images/guarantee-img.webp" alt="">
            </div>
          </div>
          <div class="safe-payments">
            <div class="safe-payments-text">
              <h4>Safe payments</h4>
              <p>Sapien fermentum diam egestas tellus commodo. Scelerisque.</p>
              <a href="smp">Show me products</a>
            </div>
            <div class="safe-payments-img">
              <img class="p-img" src="/images/safe-payments-img.webp" alt="">
            </div>
          </div>
        </div>
    </div>


    <div class="convenience">
        <div class="mt-3 shopping-experience">
          <div class="Betheme-experience">
            <h3>Betheme offers you convenient shopping experience at any scale</h3>
          </div>
          <div class="mt-3 shop-products">
            <div class="box box-1">
              <div class="bi box-img1">
                <img src="/images/shopproduct-img1.svg" alt="img1">
              </div>
              <div class="box-text1">
                <h4>Mobile shopping</h4>
                <div class="box-text">Vitae adipiscing tu enean ligula nibhmolestie id viverra dapilo eleifend Aliquam sem conubia</div>
              </div>
            </div>
            <div class="box box-2">
              <div class="bi box-img2">
                <img src="/images/shopproduct-img2.svg" alt="img2">
              </div>
              <div class="box-text2">
                <h4>Secure payments</h4>
                <div class="box-text">Mauris fringilla sem laoreet urna. Nunc elementum. Phasellus ultrices, dui tellus, elementum vel</div>
              </div>
            </div>
            <div class="box box-3">
              <div class="bi box-img3">
                <img src="/images/shopproduct-img3.svg" alt="img3">
              </div>
              <div class="box-text3">
                <h4>Present packaging</h4>
                <div class="box-text">Proin ultricies lobortis, varius eu, purus. Phasellus laoreet ligula at, consequat diam silacis</div>
              </div>
            </div>
          </div>
        </div>
        <div class="brands">
          <div class="mt-5 brand-text">
            <h4>Exclusive brands in our store</h4>
          </div>
          <hr>
          <div class="mt-5 brand-products">
            <div class="bg-img"><img src="/images/bp-img1.svg" alt=""></div>
            <div class="bg-img"><img src="/images/bp-img2.svg" alt=""></div>
            <div class="bg-img"><img src="/images/bp-img6.webp" alt=""></div>
            <div class="bg-img"><img src="/images/bp-img10.webp" alt=""></div>
            <div class="bg-img"><img src="/images/bp-img9.webp" alt=""></div>
            <div class="bg-img"><img src="/images/bp-img6.webp" alt=""></div>
            <div class="bg-img"><img src="/images/bp-img7.webp" alt=""></div>
            <div class="bg-img"><img src="/images/bp-img8.webp" alt=""></div>
            <div class="bg-img"><img src="/images/bp-img9.webp" alt=""></div>
            <div class="bg-img"><img src="/images/bp-img10.webp" alt=""></div>

          </div>
        </div>
    </div>


    <div class="container aboutus">
        <div class="row au-text">
          <div class="col-6">
            <h3>Pellentesque imperdiet enim eget velit justo, dictum, habitant.</h3>
            <div>Gravida id in cras in faucibus. Quis rhoncus dignissim leo, velit, pharetra duis lacus fames morbi. Odio potenti congue commodo, feugiat ultrices. Vitae duis massa nisl pellentesque vitae et, nisi amet, lectus. Massa aliquet felis non nisl.</div>
          </div>
          <div class="col-3">
            <h5>About the be shop</h5>
            <div>Metus libero nec nisi nibh bibendum curabitur ante bibendum curabitur dictumst magna nam ligula vestibulum curabitur dapibus lacinia potenti sagittis est iaculis mauris vel conubia placerat vulputate auctor elementum mattis lacus</div>
          </div>
          <div class="col-3">
            <h5>Our Journey</h5>
            <div>Pretium est donec quis at feugiat semper euismod dignissim aliquam vestibulum. Commodo consectetur leo senectus mollis praesent. Mus interdum dolor imperdiet dis malesuada. Facilisi senectus lobortis congue neque egestas</div>
          </div>
        </div>
    </div>


    <div class="testimonials-section">
      <div class="page-container">
        <div class="testimonials-header">
          <h5>What Our Customers Say</h5>
          <h2>Testimonials</h2>
        </div>
        <div class="testimonials-grid">
          <div class="testimonial-card">
            <div class="testimonial-rating">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <p class="testimonial-text">"Excellent quality products and fast shipping! I've been a customer for over a year and always satisfied with my purchases."</p>
            <div class="testimonial-author">
              <div class="testimonial-avatar">JD</div>
              <div class="testimonial-info">
                <h6>John Doe</h6>
                <span>Verified Customer</span>
              </div>
            </div>
          </div>
          <div class="testimonial-card">
            <div class="testimonial-rating">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <p class="testimonial-text">"The best gym equipment store I've found. Great prices and the customer service is outstanding!"</p>
            <div class="testimonial-author">
              <div class="testimonial-avatar">SM</div>
              <div class="testimonial-info">
                <h6>Sarah Miller</h6>
                <span>Verified Customer</span>
              </div>
            </div>
          </div>
          <div class="testimonial-card">
            <div class="testimonial-rating">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </div>
            <p class="testimonial-text">"Good selection of products. Delivery was quick and everything arrived in perfect condition."</p>
            <div class="testimonial-author">
              <div class="testimonial-avatar">MJ</div>
              <div class="testimonial-info">
                <h6>Mike Johnson</h6>
                <span>Verified Customer</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="newsletter">
        <div class="newsletter-text">
          <h6>
            Sign up for the newsletter
          </h6>
          <span>
            Receive a 10% discount on your purchases
          </span>
          <div class="mt-5 checkboxes">
            <div>
              ✅ Varius eget ultricies
            </div>
            <div>
              ✅ Suspendisse nunc
            </div>
          </div>
        </div>
        <div class="container mt-5 newsletter-form">
          <form id="newsletterForm" action="/newsletter/subscribe" method="POST">
            <h3 class="mb-5 text-center">Join Our Newsletter</h3>
            <div class="mb-3 name-input">
              <input type="text" class="form-control " id="name" name="name" placeholder="*Name" required>
              
            </div>
            <div class="mb-3 email-input">
              <input type="email" class="form-control " id="email" name="email" placeholder="*Email" required>
              
            </div>
            <button type="submit" class="mt-5 btn btn-primary">Subscribe</button>
          </form>
        </div>
    </div>
  `,
  scripts: `
<script>
  const form = document.getElementById('newsletterForm');

  form.addEventListener('submit', async function(event) {
    event.preventDefault();
    const name = document.getElementById('name').value.trim();
    const email = document.getElementById('email').value.trim();

    if (name === "" || email === "") {
      alert("Please fill in all fields before subscribing.");
      return;
    }

    try {
      const response = await fetch('/newsletter/subscribe', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ name, email })
      });

      const data = await response.json();
      
      if (data.success) {
        alert(data.message);
        form.reset();
      } else {
        alert(data.message);
      }
    } catch (error) {
      alert('An error occurred. Please try again.');
    }
  });
</script>
  `
}) %>
