<%- include('../layout', { 
  title: 'About Us - Gym Supplies Hub',
  page: 'about',
  body: `
    <div class="page-container">
      <h1>About Us</h1>
      
      <div class="about-content">
        <div class="row au-text">
          <div class="col-6">
            <h3>Pellentesque imperdiet enim eget velit justo, dictum, habitant.</h3>
            <div>Gravida id in cras in faucibus. Quis rhoncus dignissim leo, velit, pharetra duis lacus fames morbi. Odio potenti congue commodo, feugiat ultrices. Vitae duis massa nisl pellentesque vitae et, nisi amet, lectus. Massa aliquet felis non nisl.</div>
          </div>
          <div class="col-3">
            <h5>About the be shop</h5>
            <div>Metus libero nec nisi nibh bibendum curabitur ante bibendum curabitur dictumst magna nam ligula vestibulum curabitur dapibus lacinia potenti sagittis est iaculis mauris vel conubia placerat vulputate auctor elementum mattis lacus</div>
          </div>
          <div class="col-3">
            <h5>Our Journey</h5>
            <div>Pretium est donec quis at feugiat semper euismod dignissim aliquam vestibulum. Commodo consectetur leo senectus mollis praesent. Mus interdum dolor imperdiet dis malesuada. Facilisi senectus lobortis congue neque egestas</div>
          </div>
        </div>
      </div>
    </div>
  `
}) %>

